/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */
hr {
    background-color: var(--ion-color-secondary);
}

ion-toolbar,
ion-tab-bar {
    --background: #4D4D4D;
    --color: #FFF
}

ion-item {
    --padding-start: 0;
    --padding-button: 0;
}

ion-thumbnail {
    min-height: 64px;
    min-width: 64px;
    margin: 0;
    padding-top: 20px;
    padding-left: 10px;
}
ion-label {
    margin-left: 10px;
}

.list-md {
    padding-top: 0;
}


ion-loading {
    color: green;
  }
  
.my-custom-class {
    --background: #222;
    --spinner-color: #fff;

    color: #fff;
}